<nav
  class="w-full h-14 bg-primary flex justify-between items-center px-4 md:px-12"
>
  <a><img src="/assets/images/logo.png" alt="Logo Sci2Biz" class="h-12" /></a>
  <ul class="flex gap-4 text-white font-semibold">
    <li>Home</li>
    <li>Sobre</li>
    <li>Eventos</li>
    <li>Equipe</li>
    <li>Contato</li>
  </ul>
</nav>
<main>
  <section class="w-full h-[18rem] bg-network-green flex justify-end relative">
    <img
      src="/assets/images/network.png"
      class="object-contain"
      alt="Esfera de rede"
    />
    <div
      class="absolute top-20 left-4 md:left-12 text-xl md:text-2xl lg:text-3xl"
    >
      <h1 class="font-bold text-primary/[0.8]">
        Bem-vindos à plataforma Sci2Biz
      </h1>
      <h1 class="font-bold text-primary mb-4">Da Ciência ao Mercado</h1>
      <div class="max-w-40 md:max-w-20">
        <a routerLink="/auth/login"
          ><app-button type="secondary">Entrar</app-button></a
        >
      </div>
    </div>
  </section>
  <section
    class="w-full h-full flex flex-col gap-4 min-h-[18rem] bg-primary/[0.8] py-4 px-4 md:px-12"
  >
    <h1 class="text-xl md:text-2xl text-white font-bold">
      Transformando conhecimento em ativo econômico
    </h1>
    <div
      class="grid grid-cols-1 md:grid-cols-8 xl:px-20 gap-y-6 xl:gap-y-0 xl:gap-x-6"
    >
      <app-card class="col-span-2">
        <img src="/assets/images/science.png" alt="Science photo" />
        <h1 class="font-bold text-2xl text-primary">Ciência</h1>
      </app-card>
      <img
        src="/assets/images/union.svg"
        alt="Union"
        class="self-center place-self-center"
      />
      <app-card class="col-span-2">
        <img src="/assets/images/idea.png" alt="Science photo" />
        <h1 class="font-bold text-2xl text-primary">Tecnologia</h1>
      </app-card>
      <img
        src="/assets/images/union.svg"
        alt="Union"
        class="self-center place-self-center"
      />
      <app-card class="col-span-2">
        <img src="/assets/images/business.png" alt="Science photo" />
        <h1 class="font-bold text-2xl text-primary">Inovacao</h1>
      </app-card>
    </div>
  </section>
  <section class="w-full flex-col py-4 px-4 md:px-12 bg-network-green">
    <h1 class="text-xl md:text-2xl font-bold text-primary text-center mb-4">
      Sobre a Sci2Biz
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col gap-4 justify-center md:max-w-[36.2rem]">
        <p>
          <strong
            >Um dos principais desafios brasileiros é e tem sido transformar a
            produção acadêmica em riqueza socioeconômica.</strong
          >
          Diante desse contexto, a Sci2Biz (da Ciências aos Negócios, do inglês:
          from Science to Business), Desenvolvida pela professora Zulmara
          Virgínia de Carvalho, é uma metodologia que consiste em uma estratégia
          de ensino-aprendizagem alicerçada em pesquisa e foi desenvolvida a
          partir da demanda de difundir a cultura da inovação no ambiente
          acadêmico.
        </p>
        <div class="md:max-w-20">
          <app-button type="secondary">Mais</app-button>
        </div>
      </div>
      <img
        src="/assets/images/light_bulb.svg"
        alt="Lampada"
        class="hidden md:block place-self-end"
      />
    </div>
  </section>
  <section class="w-full flex-col pt-4 pb-12 px-4 md:px-12 gap-6">
    <h1 class="text-xl md:text-2xl font-bold text-primary text-center mb-12">
      Apoio
    </h1>
    <div
      class="flex flex-col md:flex-row items-center gap-y-20 md:gap-y-0 md:gap-x-16 xl:gap-x-40 justify-center"
    >
      <img src="/assets/images/ufrn.svg" alt="Logo UFRN" class="h-20" />
      <img
        src="/assets/images/ect.png"
        alt="Logo Escola de Ciencias e Tecnologia"
        class="h-20"
      />
      <img src="/assets/images/ppgcti.png" alt="Logo PPgCTI" class="h-28" />
    </div>
  </section>
</main>
<footer
  class="w-full h-20 bg-primary flex justify-between items-center px-4 md:px-12"
>
  <a><img src="/assets/images/logo.png" alt="Logo Sci2Biz" class="h-12" /></a>
</footer>
